@import "../../../styles";

.container{
  .loginBox{
    text-align: center;
    width: 100%;
    input{
      width: 80%;
      margin-bottom: 10px;
    }
    button{
      width: 30%;
      height: 36px;
      color: #fff;
      border-radius: 4px;
      background: $color-primary;
      font-size: 1.6rem;
    }
  }
}